<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center my-4">Search for Weather</h3>
        <form
          [formGroup]="weatherSearchForm"
          (ngSubmit)="weatherFormSerach(weatherSearchForm.value)"
        >
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="weatherLocation"
              aria-describedby="weatherLocation"
              placeholder="Enter a City Name"
              formControlName="location"
            />
          </div>
          <div class="text-center exampleText">(e.g: New York, Chicago, ...)</div>
          <br>
          
          <action-button [value]="btnText" (navigateTo)="weatherFormSerach($event)" class="btn btn-success btn-md" [formValue]="weatherSearchForm.value"></action-button>
          
        </form>
      </div>
      <div class="col-md-6">
          <div class="container-fluid" *ngIf="this._isData">
            <h3 class="text-center my-4">Weather Details</h3>
              <weather-details [currentWeather]="this.currentWeather"></weather-details>
          </div>
          <div *ngIf="!this._isData">
            <h3 class="text-center my-4">Weather Details</h3>
            <p *ngIf="!_isError" class="text-center">No City Found.</p>
          </div>
      </div>
    </div>
  </div>