<div class="container-fluid weatherDetails">
    <table class="weatherTable">
      <thead>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Location:</td>
          <td>{{currentWeather.name}}</td>
        </tr>
        <tr>
          <td>Coordinates:</td>
          <td>long({{currentWeather.coord.lon}}) lat({{currentWeather.coord.lat}})</td>
        </tr>
        <tr>
          <td>Temp in (C):</td>
          <td><img [src]="imgIcon" class="weatherIcon" /> {{currentWeather.main.temp }}</td>
        </tr>
        <tr>
          <td>Feels Like:</td>
          <td>{{currentWeather.main.feels_like }}</td>
        </tr>
        <tr>
          <td>Pressure:</td>
          <td>{{currentWeather.main.pressure }}</td>
        </tr>
        <tr>
          <td>Humidity:</td>
          <td>{{currentWeather.main.humidity }}</td>
        </tr>
      </tbody>
    </table>
  </div>