<body>
    <header class="top-header">
    </header>
    <div id="mainCoantiner">
    <div class="container text-center text-dark mt-5">
      <div class="row">
        <div class="col-lg-12 d-block mx-auto mt-5">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-md-12">
              <div class="card">
                <div class="card-body wow-bg" id="formBg" *ngIf="this._isShow">
                    <h1 class="text-center">Weather App</h1>
                    <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
</body>